@charset "UTF-8";

label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

input{

}

form{
border:none;
width:500px;
margin:0px auto;
}

.buttonholder{
	text-align: center;	
}

body {
  background-color: #333;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#background-animation-container {
  background-color: #222;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1000;
}

.ani-bubble {
  background-color: blue;
  border-radius: 75px;
  height: 150px;
  position: absolute;
  top: 100%;
  width: 150px;

  -webkit-animation: bubblemove 10s linear infinite;
  -moz-animation: bubblemove 10s linear infinite;
  animation: bubblemove 10s linear infinite;
}

@-webkit-keyframes bubblemove {
  from { top: 100%; }
  to   { top: -600px; }
}
@-moz-keyframes bubblemove {
  from { top: 100%; }
  to   { top: -600px; }
}
@keyframes bubblemove {
  from { top: 100%; }
  to   { top: -600px; } /* This must be far enough off screen to allow the largest object to wander off with enough delay before restarting at the bottom, to be caught by the interval timer */
}

.container {
  width: 700px;
  height: 400px;
  margin: 3% auto;
  position: relative;
}
.container .line {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: -40px;
  background-color: white;
  width: 1px;
  height: 0px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F0C27B), color-stop(100%, #4B1248));
  background-image: -webkit-linear-gradient(#F0C27B, #4B1248);
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}
.container .line-1 {
  border-left: 20px solid black;
  -webkit-backface-visibility: hidden;
  left: -25px;
}
.container .line-2 {
  border-right: 22px solid black;
  left: 14px;
}
.container .text {
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 75px;
  text-align: left;
  width: 0px;
  margin-top: 150px;
  margin-left: 290px;
  overflow: hidden;
  transform: rotate(35deg);
  position: relative;
  height: 100%;
}
.container .text span {
  transform: rotate(-35deg);
  position: absolute;
  top: 27px;
  right: 0;
  left: -7px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F0C27B), color-stop(100%, #4B1248));
  background-image: -webkit-linear-gradient(#F0C27B, #4B1248);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}

/*Gradient animation from http://www.gradient-animator.com/*/
@keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -35px;
  content: "\2714";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2716";
}
}